.App {
  text-align: center;
}

.btn {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 15%;
  height: 32px;
  width: 50px;
  margin-left: 10px;
  font-size: large;
}

.btn:hover {
  cursor: pointer;
}

.color {
  margin-right: 10px;
  font-size: large;
}

.input {
  height: 30px;
  width: 250px;
  background-color: rgb(230, 230, 230);
  border: none;
  border-radius: 5px;
}